body {
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
}

.grid > div {
    border: solid black 1px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.btn {
    height: 25px;
}

/* .grid > div:hover {
    background-color: black;
} */