body {
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 81, 0, 0.521);
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* #grid {
    display: grid;
    grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px);
    border: solid 1px;
    box-shadow: 15px 15px 15px;
} */

/* #grid {
    max-width: 600px;
    max-height: 600px;
    display: flex;
} */

#grid > div {
    /* height: 35px;
    width: 35px; */
    border: solid rgba(0, 0, 0, 0.295) 1px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
}

.btn {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    background-color: antiquewhite;
}

.btn:hover {
    box-shadow: 15px 15px 15px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}